:root {
    --color-background: #000;
    --color-text: #fff;
    --color-box: #777;
    --color-select: #E55D5D;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Amatic SC;
}

/* body {
    background-color: var(--color-background);
    color: var(--color-text);
} */